@import "ui-variables";

.status-bar {

overflow: initial !important;
@bg: darken(@tool-panel-background-color, 2%);
@padding: 1rem;

note-overlay {
  display:            inline-flex;
  height:             100%;

> div {
  display:            block;
  height:             inherit;
  height:             100%;
  vertical-align:     middle;
  box-sizing:         border-box;
  padding:            3px 0.5em;

  &.open::before {
    content:          "";
    z-index:          300;
    display:          block;
    position:         absolute;
    bottom:           100%;
    border-width:     @disclosure-arrow-size * 1.2 @disclosure-arrow-size * 1.2 0;
    border-style:     solid;
    border-color:     @bg transparent transparent;
    margin:           0 0 @disclosure-arrow-size @component-padding * 2.5 }}

article {
  transition:         all .2s;
  position:           absolute;
  flex-flow:          row wrap;
  display:            flex;
  overflow:           hidden;
  overflow-y:         auto;
  bottom:             100%;
  min-width:          48rem;
  max-width:          72vw; // Wir leben autos LOL
  max-height:         50vh;
  font-size:          1em;
  padding:            0;
  margin:             0 0 2 * @disclosure-arrow-size;
  box-shadow:         0 2px 2em fade(black, 22%);
  color:              @text-color-highlight;
  border-radius:      @component-border-radius;
  background-color:   @bg;
  transform:          translate(-75%, 0);

  &.hidden {
    visibility:       visible;
    max-height:       0;
    overflow:         hidden;
    display:          block !important;
    }}


.list-group {
  flex:               1 0 100%;
  overflow-y:         auto;
  max-height:         80vh;
  border-radius:      @component-border-radius @component-border-radius 0 0;

  .list-item {
    position:         relative;
    font-size:        1.15em;
    padding:          @component-padding * 2 @component-padding * 2 @component-padding/2;
    transition:       all .2s;
    cursor:           pointer }

  .list-item:hover {
    font-size:        1.15em;
    background:       @background-color-highlight;
    color:            @text-color-highlight }

  .list-item.archived {
    background:       transparent;
    color:            @text-color-subtle;
    opacity:          0.3;
    main { text-decoration: line-through }}

  .list-item:hover::before {
    font-family:      ionicons;
    position:         absolute;
    right:            @component-padding / 2;
    top:              50%;
    transform:        translateY(-50%) }

  main {
    display:          inline-block;
    white-space:      normal;
    line-height:      1.8;
    letter-spacing:  -0.02em }

  .note-actions {
    margin:           @padding -2 * @padding 0;
    display:          flex;
    justify-content:  space-around;
    align-items:      stretch;
    border-bottom:    1px solid;
    border-color:     @base-border-color !important;
    color:            fade(@text-color-subtle, 50%);

    > * {
      .icon {
        font-size: 1.25em;
        padding-right: 0.5em !important }
      display:      block;
      text-align:   center;
      flex:         1 1 auto;
      color:        inherit;
      line-height:  3.2em;
      border-style: solid;
      border-width: 1px 1px 0 0;
      border-color: inherit !important;
      margin:       0;
      text-decoration: none;
      &:hover {
        color:      @text-color-subtle;
        background: @base-border-color !important }
      &:last-child { border-right-width: 0} }}}



atom-text-editor.editor {
  * {
    color: inherit;
    background: transparent }

  position:       relative;
  height:         auto;
  max-height:     5.6rem;
  font-weight:    100;
  line-height:    2.6rem;
  padding:        0.5rem 1rem;
  // font-family:    avenir next, helvetica neue, sofia pro;
  // letter-spacing: -0.05em;
  font-size:      2em;
  -webkit-text-stroke:    0.3px;
  -webkit-font-smoothing: antialiased;
  flex:   1 1 auto;
  top:    0;
  margin: @padding @padding @padding * 1.1 !important }

article > button {
  flex:   0 1 auto;
  margin: @padding
          @padding
          @padding * 1.1
          0 !important }


}


// Toggle btn
.qn-icon {
  @size:                20px;
  width:                @size;
  height:               100%;
  margin-right:         @size * 0.15;
  position:             relative }

.qn-icon svg {
  display:              block;
  fill:                 @text-color;
  stroke-width:         2px;
  stroke-miterlimit:    1;
  stroke:               @text-color;
  height:               100%;
  width:                100% }}

.qn-label {
  display:              flex;
  align-items:          center;
  cursor:               pointer;
  box-sizing:           border-box;
  padding:              0 @component-padding / 3;
  margin:               0;
  line-height:          1;
  height:               100%;
  background:           transparent;
  color:                @text-color-subtle;
  border-radius:        @component-border-radius;
  justify-content:      center;
  svg {
    fill:               @text-color-subtle }

  &.selected {
    background:         @background-color-selected;
    color:              @text-color-selected;
   .qn-icon svg {
     stroke:            transparent;
     fill:              @text-color }}

  &:focus,
  &:hover {
    background:         @background-color-highlight;
    color:              @text-color-highlight;
   .qn-icon svg {
     stroke:            transparent;
     fill:              @text-color-subtle }}
}
